RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule . / [L,R=301]

Redirect 301 /aIdQLp/ http://aycube.tk
Redirect 301 /aIdQLp http://aycube.tk

Redirect 301 /NID9Tk/ https://tukif.com
Redirect 301 /NID9Tk https://tukif.com
Redirect 301 /QEfiRx/ https://cafecloud.fr
Redirect 301 /QEfiRx https://cafecloud.fr
Redirect 301 /oMHwME/ https://sht.al/aIdQLp
Redirect 301 /oMHwME https://sht.al/aIdQLp
Redirect 301 /n1RHws/ https://xnxx.com/
Redirect 301 /n1RHws https://xnxx.com/
Redirect 301 /vVOfcB/ http://xnxx.com
Redirect 301 /vVOfcB http://xnxx.com
Redirect 301 /KXdxvV/ http://sas.com/
Redirect 301 /KXdxvV http://sas.com/
Redirect 301 /4v7ckQ/ http://google.com
Redirect 301 /4v7ckQ http://google.com
Redirect 301 /kiog4Z/ https://www.faceit.com/en
Redirect 301 /kiog4Z https://www.faceit.com/en
Redirect 301 /cFXLjd/ http://cafecloud.tk/5cHOgw
Redirect 301 /cFXLjd http://cafecloud.tk/5cHOgw
Redirect 301 /ovXWQe/ https://swissclouding.com
Redirect 301 /ovXWQe https://swissclouding.com
Redirect 301 /B9QJov/ http://jasbdhsd.com/
Redirect 301 /B9QJov http://jasbdhsd.com/
Redirect 301 /sPBdFx/ https://pornhub.com
Redirect 301 /sPBdFx https://pornhub.com
Redirect 301 /VkLoxV/ http://datatrans.biz
Redirect 301 /VkLoxV http://datatrans.biz
Redirect 301 /DhLPmK/ https://doit.com/
Redirect 301 /DhLPmK https://doit.com/
Redirect 301 /smeDIo/ https://ovh.com/
Redirect 301 /smeDIo https://ovh.com/
Redirect 301 /0Ogg3U/ https://zalando.com/
Redirect 301 /0Ogg3U https://zalando.com/
Redirect 301 /m8tlnC/ http://mailpro.com
Redirect 301 /m8tlnC http://mailpro.com
Redirect 301 /mNuJTa/ http://fr.mailpro.com
Redirect 301 /mNuJTa http://fr.mailpro.com
Redirect 301 /AUwKMs/ http://iausdud.com
Redirect 301 /AUwKMs http://iausdud.com
Redirect 301 /CnJOMk/ https://www.flickr.com/people/tonyfavrebulle
Redirect 301 /CnJOMk https://www.flickr.com/people/tonyfavrebulle
Redirect 301 /mUmYkR/ https://subscription.mailpro.com/Account/
Redirect 301 /mUmYkR https://subscription.mailpro.com/Account/
Redirect 301 /5LNWWH/ https://sdhusd.com/
Redirect 301 /5LNWWH https://sdhusd.com/
Redirect 301 /GSohWY/ https://kali.org/
Redirect 301 /GSohWY https://kali.org/
Redirect 301 /mDuHZ4/ https://sajd.com
Redirect 301 /mDuHZ4 https://sajd.com
Redirect 301 /0kYFMd/ http://swissclouding.com
Redirect 301 /0kYFMd http://swissclouding.com
Redirect 301 /LFhXmD/ http://codepen.io
Redirect 301 /LFhXmD http://codepen.io
Redirect 301 /FsVo2v/ http://cafecloud.tk/9BvEWj
Redirect 301 /FsVo2v http://cafecloud.tk/9BvEWj
Redirect 301 /KIG73C/ http://3.141592653589793238462643383279502884197169399375105820974944592.com/
Redirect 301 /KIG73C http://3.141592653589793238462643383279502884197169399375105820974944592.com/
Redirect 301 /02ak7z/ https://ks.org/
Redirect 301 /02ak7z https://ks.org/
Redirect 301 /FXb9b8/ http://theporn.com
Redirect 301 /FXb9b8 http://theporn.com
Redirect 301 /eUhVwk/ http://swisssanswear.com
Redirect 301 /eUhVwk http://swisssanswear.com
Redirect 301 /nbcnAU/ http://xnxx.com/
Redirect 301 /nbcnAU http://xnxx.com/
Redirect 301 /i0kfih/ http://sht.al
Redirect 301 /i0kfih http://sht.al
Redirect 301 /BXVk6S/ http://www.deadlinkchecker.com/website-dead-link-checker.asp/new.www.mailpro.com
Redirect 301 /BXVk6S http://www.deadlinkchecker.com/website-dead-link-checker.asp/new.www.mailpro.com
Redirect 301 /dkdVTn/ https://skdh.com
Redirect 301 /dkdVTn https://skdh.com
Redirect 301 /tJIRzK/ https://iashd.com/
Redirect 301 /tJIRzK https://iashd.com/
Redirect 301 /P8JZwj/ https://youtu.be/nn4tP7ogWIA
Redirect 301 /P8JZwj https://youtu.be/nn4tP7ogWIA
Redirect 301 /J1t847/ https://m.google.ch/utf-8/?<script>alert("xss"+document)</script>
Redirect 301 /J1t847 https://m.google.ch/utf-8/?<script>alert("xss"+document)</script>
Redirect 301 /nzm51K/ https://testadd.com
Redirect 301 /nzm51K https://testadd.com
Redirect 301 /75tBGr/ https://aycube.tk
Redirect 301 /75tBGr https://aycube.tk
Redirect 301 /3DSZA7/ https://fb.co/
Redirect 301 /3DSZA7 https://fb.co/
Redirect 301 /j7dB7U/ https://xnxx.com/id?=porn=hard
Redirect 301 /j7dB7U https://xnxx.com/id?=porn=hard
Redirect 301 /Cey3DN/ https://cockpit.agenceweb.com/index.asp?ActionVar=start&ID={62B203FE-B9C6-4446-AD2E-B22C05513F55}
Redirect 301 /Cey3DN https://cockpit.agenceweb.com/index.asp?ActionVar=start&ID={62B203FE-B9C6-4446-AD2E-B22C05513F55}
Redirect 301 /LoQQbf/ https://xnxx.com/eubfshbfsef
Redirect 301 /LoQQbf https://xnxx.com/eubfshbfsef
Redirect 301 /8XxJ1m/ http://xnxx.com/dsiajndiuashjduijasndasdasdasd
Redirect 301 /8XxJ1m http://xnxx.com/dsiajndiuashjduijasndasdasdasd
Redirect 301 /jOFsJF/ https://datboi.com
Redirect 301 /jOFsJF https://datboi.com
Redirect 301 /ir7Ywe/ http://elvets.gg
Redirect 301 /ir7Ywe http://elvets.gg
Redirect 301 /W4SGt2/ http://kim.com
Redirect 301 /W4SGt2 http://kim.com
Redirect 301 /2dOr0E/ https://lenguainglessmvc.wikispaces.com/file/view/english-for-information-technology.pdf/592178992/english-for-information-technology.pdf
Redirect 301 /2dOr0E https://lenguainglessmvc.wikispaces.com/file/view/english-for-information-technology.pdf/592178992/english-for-information-technology.pdf
Redirect 301 /Xnx2eP/ https://memo-linux.com/debian-8-jessie-installation-pas-a-pas/
Redirect 301 /Xnx2eP https://memo-linux.com/debian-8-jessie-installation-pas-a-pas/
Redirect 301 /422fJp/ http://www.xnxx.com/video-ffc2bcb/iniciacion_de_jenny
Redirect 301 /422fJp http://www.xnxx.com/video-ffc2bcb/iniciacion_de_jenny
Redirect 301 /vUClwI/ https://goo.gl/N7kSW9
Redirect 301 /vUClwI https://goo.gl/N7kSW9
Redirect 301 /Joopl3/ http://www.pornhub.com/video/search?search=dat
Redirect 301 /Joopl3 http://www.pornhub.com/video/search?search=dat
Redirect 301 /HfSrnQ/ https://www.twitch.tv/orkstv
Redirect 301 /HfSrnQ https://www.twitch.tv/orkstv
Redirect 301 /vYtBA8/ http://ow.ly/
Redirect 301 /vYtBA8 http://ow.ly/
Redirect 301 /3rZVVm/ http://form-ins.mailpro.com/extSubNewsletter_Guid.asp?lang=fr
Redirect 301 /3rZVVm http://form-ins.mailpro.com/extSubNewsletter_Guid.asp?lang=fr
Redirect 301 /UtEv4P/ http://www.udi-ponthierry.com/conseiller,marion-brenot,003954,161
Redirect 301 /UtEv4P http://www.udi-ponthierry.com/conseiller,marion-brenot,003954,161
Redirect 301 /hvKiTT/ https://www.facebook.com/UDI.ImmobilierSecurise/
Redirect 301 /hvKiTT https://www.facebook.com/UDI.ImmobilierSecurise/
Redirect 301 /VYShLF/ http://www.ebay.fr/itm/122147917321?_trksid=p2057872.m2749.l2649&ssPageName=STRK%3AMEBIDX%3AIT
Redirect 301 /VYShLF http://www.ebay.fr/itm/122147917321?_trksid=p2057872.m2749.l2649&ssPageName=STRK%3AMEBIDX%3AIT
Redirect 301 /3MKl0l/ http://www.commentcamarche.net/news/5869312-une-compagnie-hyperloop-s-installe-en-france?een=5e840bbf55e2d992b713f568e479bcaf&seen=2&utm_source=greenarrow&utm_medium=mail&utm_campaign=ml146_hyperloopenfran
Redirect 301 /3MKl0l http://www.commentcamarche.net/news/5869312-une-compagnie-hyperloop-s-installe-en-france?een=5e840bbf55e2d992b713f568e479bcaf&seen=2&utm_source=greenarrow&utm_medium=mail&utm_campaign=ml146_hyperloopenfran
Redirect 301 /I4MAxZ/ https://siuahduiasd.com
Redirect 301 /I4MAxZ https://siuahduiasd.com
Redirect 301 /fmo3Mr/ http://dksd.fr
Redirect 301 /fmo3Mr http://dksd.fr
Redirect 301 /ixYyA7/ https://www.blackpyramidclothing.com
Redirect 301 /ixYyA7 https://www.blackpyramidclothing.com
Redirect 301 /4gZwpI/ https://twitter.com/overxay
Redirect 301 /4gZwpI https://twitter.com/overxay
Redirect 301 /UzidN5/ https://swissclouding.com/
Redirect 301 /UzidN5 https://swissclouding.com/
Redirect 301 /dF8pVH/ https://blog.genma.fr/?SSH-Notification-par-SMS-Freemobile-a-la-connexion
Redirect 301 /dF8pVH https://blog.genma.fr/?SSH-Notification-par-SMS-Freemobile-a-la-connexion
Redirect 301 /mQXDjD/ https://test.cafecloud.fr
Redirect 301 /mQXDjD https://test.cafecloud.fr
Redirect 301 /npSykX/ https://sudh.com
Redirect 301 /npSykX https://sudh.com
Redirect 301 /iBNDhv/ https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.com/yyyyyyy
Redirect 301 /iBNDhv https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.com/yyyyyyy
Redirect 301 /RPEtej/ https://google.com/
Redirect 301 /RPEtej https://google.com/
Redirect 301 /KVKpMv/ https://github.com
Redirect 301 /KVKpMv https://github.com
Redirect 301 /gjVpAu/ http://mythics.ru/
Redirect 301 /gjVpAu http://mythics.ru/
Redirect 301 /OcvwPU/ https://www.youtube.com/watch?v=jGXlLzWwfMM
Redirect 301 /OcvwPU https://www.youtube.com/watch?v=jGXlLzWwfMM
Redirect 301 /xc74td/ https://xnxx.com
Redirect 301 /xc74td https://xnxx.com
Redirect 301 /QcbZFv/ http://storage.fr.nf/index.php/s/ssBSo4vlC1vx7cy
Redirect 301 /QcbZFv http://storage.fr.nf/index.php/s/ssBSo4vlC1vx7cy
Redirect 301 /be2zlK/ https://google.ch/
Redirect 301 /be2zlK https://google.ch/
Redirect 301 /sS5CzE/ https://geekswipe.net/wp-content/uploads/2014/10/Geekswipe-Python-Twitter-bot-Source-Photo-by-Karthikeyan-KC.jpg
Redirect 301 /sS5CzE https://geekswipe.net/wp-content/uploads/2014/10/Geekswipe-Python-Twitter-bot-Source-Photo-by-Karthikeyan-KC.jpg
Redirect 301 /Mxygc2/ https://pbs.twimg.com/profile_images/825692308087664640/HZqtVgYa.jpg
Redirect 301 /Mxygc2 https://pbs.twimg.com/profile_images/825692308087664640/HZqtVgYa.jpg
Redirect 301 /YLO3wO/ https://image.flaticon.com/icons/svg/169/169935.svg
Redirect 301 /YLO3wO https://image.flaticon.com/icons/svg/169/169935.svg
Redirect 301 /l3Cyi8/ http://new.www.mailpro.com/faq/
Redirect 301 /l3Cyi8 http://new.www.mailpro.com/faq/
Redirect 301 /kkM3cG/ http://proxyass.net
Redirect 301 /kkM3cG http://proxyass.net
Redirect 301 /GQb2w2/ http://getpcsoft.wikisend.com/mac-os-x-yosemite-10-10-5-free-download.html
Redirect 301 /GQb2w2 http://getpcsoft.wikisend.com/mac-os-x-yosemite-10-10-5-free-download.html
Redirect 301 /YzKgSD/ https://mega.nz/#!NQ8wHZSJ!p7ZT1AJpR8KToSJE_tOmDsPtS8eWWjJ_NBFe7bK5qRg
Redirect 301 /YzKgSD https://mega.nz/#!NQ8wHZSJ!p7ZT1AJpR8KToSJE_tOmDsPtS8eWWjJ_NBFe7bK5qRg
Redirect 301 /a8naxn/ http://yip-social.fr
Redirect 301 /a8naxn http://yip-social.fr
Redirect 301 /2Ph9eN/ https://google.com
Redirect 301 /2Ph9eN https://google.com
Redirect 301 /twEha9/ http://bdgszdgasizdzgaszudgiasgdiz.com/aishdioashd
Redirect 301 /twEha9 http://bdgszdgasizdzgaszudgiasgdiz.com/aishdioashd
Redirect 301 /zUlLaD/ https://www.emui.com/en/plugin.php?id=unlock&mod=detail
Redirect 301 /zUlLaD https://www.emui.com/en/plugin.php?id=unlock&mod=detail
Redirect 301 /rbdfgN/ https://hshdhdhd.com
Redirect 301 /rbdfgN https://hshdhdhd.com